@{
    ViewBag.Title = "Reporte de Compra de Productos";
}

<script type="text/javascript"
        src="~/Scripts/jquery-3.4.1.min.js">
</script>

<script>

    var listaDatos = "";//Variable para almacenar los datos consultados
    var opcionSeleccionada = 0;// 1 - Encabezado, 2 - Detalle

    //Función para cuando cambie Fecha Inicio o Fecha Final
    function cambioFecha() {
        $(function () {
            $("#btnImprimir").addClass('disabled');
        });
    }


    //Función para cargar el DetalleCompra
    $(document).ready(function () {

        // code to read selected table row cell data (values).
        $("#tableDatos").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var idEncabezado = currentRow.find("td:eq(0)").html();
            var nomProveedor = currentRow.find("td:eq(2)").html();
            var fechaCompra = currentRow.find("td:eq(3)").html();
            var monto = currentRow.find("td:eq(4)").html();

            //Llamar el detalle compra
            var url = "@Url.Action("LlenarTableCPD", "Menu")";
            var data = { idEncabezado: idEncabezado, nomProveedor: nomProveedor, fechaCompra: fechaCompra, monto: monto };

            $.post(url, data).done(function (data) {

                //Guardamos los datos para enviar al método que genera el reporte
                listaDatos = data;

            document.getElementById("tableDatos").innerHTML =
                "<tr>" +
            "<th style='display: none;'>ID</th>" +
            "<th>#</th>" +
            "<th>PRODUCTO</th>" +
            "<th>CANTIDAD</th>" +
            "<th>PRECIO LOTE</th>" +
            "<th>PRECIO UNITARIO (COMPRA)</th>" +
            "<th>PRECIO UNITARIO (VENTA)</th>" +
                "</tr >";

            for (var i = 0; i < data.length; i++) {

                document.getElementById("tableDatos").innerHTML +=
                    "<tr>" +
                "<td style='display: none;'>" + data[i].IdEncCompraProductos + "</td>" +
                "<td>" + (i + 1).toString() + "</td>" +
                "<td>" + data[i].NombreProducto + "</td>" +
                "<td>" + data[i].Cantidad + "</th>" +
                "<td>$" + data[i].PrecioLote.toFixed(2) + "</td>" +
                "<td>$" + data[i].PrecioUnitario.toFixed(2) + "</td>" +
                "<td>$" + data[i].PrecioVenta.toFixed(2) + "</td>" +
                    "</tr >";
            }

            //Habilitamos el botón si la data es mayor a 0
            if (data.length > 0) {
                $("#btnImprimir").removeClass('disabled');
            }

            $("#btnLimpiar").val('Volver');
            $("#dtpFechaInicio").prop('disabled', true);
            $("#dtpFechaFinal").prop('disabled', true);
            opcionSeleccionada = 2;

            });
        });
    });

    //Función para btnFiltrar
    function filtrar() {
        $(function () {

            var url = "@Url.Action("LlenarTableCP", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = { fechaInicioP: fechaInicio, fechaFinalP: fechaFinal };

        $.post(url, data).done(function (data) {

            //Guardamos los datos para enviar al método que genera el reporte
            listaDatos = data;

            document.getElementById("tableDatos").innerHTML =
                "<tr>" +
                "<th style='display: none;'>ID</th>" +
                "<th>#</th>" +
                "<th>PROVEEDOR</th>" +
                "<th>FECHA COMPRA</th>" +
                "<th>MONTO</th>" +
                "</tr >";

            for (var i = 0; i < data.length; i++) {

                var dateString = data[i].FechaIngreso.toString().substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "-" + month + "-" + year;

                document.getElementById("tableDatos").innerHTML +=
                    "<tr>" +
                    "<td style='display: none;'>" + data[i].IdEncCompraProductos + "</td>" +
                    "<td class='btnSelect'><a>" + (i + 1).toString() + "</a></td>" +
                    "<td>" + data[i].NombreProveedor + "</td>" +
                    "<td>" + date + "</th>" +
                    "<td>$" + data[i].Monto.toFixed(2) + "</td>" +
                    "</tr >";
            }

            //Habilitamos el botón si la data es mayor a 0
            if (data.length > 0) {
                $("#btnImprimir").removeClass('disabled');
            }

            opcionSeleccionada = 1;

            });
        });
    }

    //Función para btnLimpiar
    function limpiar() {
        $(function () {
            if (opcionSeleccionada == 1) {
                $("#dtpFechaInicio").val(null);
                $("#dtpFechaFinal").val(null);
                $("#btnImprimir").addClass('disabled');

                document.getElementById("tableDatos").innerHTML =
                    "<tr>" +
                    "<th style='display: none;'>ID</th>" +
                    "<th>#</th>" +
                    "<th>PROVEEDOR</th>" +
                    "<th>FECHA COMPRA</th>" +
                    "<th>MONTO</th>" +
                    "</tr >";
            } else if (opcionSeleccionada == 2) {
                $("#btnLimpiar").val('Limpiar');
                $("#dtpFechaInicio").prop('disabled', false);
                $("#dtpFechaFinal").prop('disabled', false);
                filtrar();
            }
        });
    }

    //Función para btnImprimir
    function imprimir() {
        //Invocamos la URL para imprimir el reporte
        window.location.href = "/Menu/ImprimirRCP";
    }
</script>

<div class="text-center">
    <h2><b>Reporte de Compra de Productos</b></h2>
</div>

<div class="col-lg-12">
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha inicio</label>
    <input class="form-control" id="dtpFechaInicio" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha final</label>
    <input class="form-control" id="dtpFechaFinal" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-12">
    <div class="col-lg-1">
        <input class="btn-success btn" id="btnFiltrar" onclick="filtrar();" type="button" value="Filtrar" />
    </div>
    <div class="col-lg-1">
        <input class="btn-danger btn" id="btnLimpiar" onclick="limpiar();" type="button" value="Limpiar" />
    </div>
    <div class="col-lg-1">
        <div onclick="imprimir();" class="btn-primary btn media-right disabled" id="btnImprimir">
            <span class="glyphicon glyphicon-print">

            </span>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <br />
</div>

<table class="table table-bordered" id="tableDatos">
    <tr>
        <th style="display:none;">ID</th>
        <th>#</th>
        <th>PROVEEDOR</th>
        <th>FECHA COMPRA</th>
        <th>MONTO</th>
    </tr>
</table>


