
@{
    ViewBag.Title = "Proyecto Electiva IV";
}


<div class="row">
    <div class="col-md-10">
        <h2>Compras de Productos</h2>
        <p><a class="btn btn-default" href="~/Menu/CompraProductos">Ver Reportes &raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Compras de Productos Especificadas</h2>
        <p><a class="btn btn-default" href="~/Menu/CompraProductosEsp">Ver Reportes &raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Reservas</h2>
        <p><a class="btn btn-default" href="~/Menu/Reservas">Ver Reportes &raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Ventas</h2>
        <p><a class="btn btn-default" href="~/Menu/Ventas">Ver Reportes &raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Ventas de Productos Especificadas</h2>
        <p><a class="btn btn-default" href="~/Menu/VentasEsp">Ver Reportes &raquo;</a></p>
    </div>
</div>
