
@{
    ViewBag.Title = "Proyecto Electiva IV";
}


<div class="row">
    <div class="col-md-10">
        <h2>Productos</h2>
        <p><a class="btn btn-default" href="~/Menu/Productos">Ver&raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Clientes</h2>
        <p><a class="btn btn-default" href="~/Menu/Clientes">Ver&raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Reservas</h2>
        <p><a class="btn btn-default" href="~/Menu/Reservas">Ver&raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Ventas</h2>
        <p><a class="btn btn-default" href="~/Menu/Ventas">Ver&raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Proveedores</h2>
        <p><a class="btn btn-default" href="#">Ver&raquo;</a></p>
    </div>
</div>
