
@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<table class="table table-bordered">
    <tr>
        <th>Producto</th>
        <th>Proveedor</th>
        <th>Existencia</th>
        <th>Precio unidad</th>
        <th>Precio venta</th>
    </tr>
    <tr>
        <td><br /></td>
        <td><br /></td>
        <td><br /></td>
        <td><br /></td>
        <td><br /></td>
    </tr>
</table>

<div class="btn-primary btn-sm media-right">
    <span class="glyphicon glyphicon-print">

    </span>
</div>


