
@{
    ViewBag.Title = "Reservas";
}

<script type="text/javascript"
        src="~/Scripts/jquery-3.4.1.min.js">
</script>

<script>
    //Variables para guardar los datos de estado e idCliente
    var estado = "";
    var nombreEstado = "TODOS";
    var idCliente = "0";
    var nombreCliente = "TODOS";

    //Función para llenar ddlClientes
    function llenarDDLClientes() {
        $(function () {

            var url = "@Url.Action("LlenarDDLClientesR", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = { fechaInicioP: fechaInicio, fechaFinalP: fechaFinal, estadoP: estado };
            idCliente = "0";

            $.post(url, data).done(function (data) {

                document.getElementById("ddlClientes").innerHTML =
                    "<option value='0'>TODOS</option>";

                for (var i = 0; i < data.length; i++) {

                    document.getElementById("ddlClientes").innerHTML +=
                        "<option value='" + data[i].IdCliente + "'>" + data[i].NombreCliente +"</option>";
                }
            });
        });
    }

    //Función para cuando cambie ddlEstados
    function getValddlEst(sel) {
        $(function () {

            estado = sel.value;
            if (estado == "0") {
                estado = "";
            }
            nombreEstado = sel.options[sel.selectedIndex].text;

            $("#btnImprimir").addClass('disabled');

            llenarDDLClientes();
        });
    }

    //Función para cuando cambie ddlClientes
    function getValddlCli(sel) {
        idCliente = sel.value;
        nombreCliente = sel.options[sel.selectedIndex].text;
        $("#btnImprimir").addClass('disabled');
    }

    //Función para cuando cambie Fecha Inicio o Fecha Final
    function cambioFecha() {
        $(function () {
            $("#btnImprimir").addClass('disabled');

            var url = "@Url.Action("LlenarDDLEstadosR", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = { fechaInicioP: fechaInicio, fechaFinalP: fechaFinal };

            $.post(url, data).done(function (data) {

                document.getElementById("ddlEstados").innerHTML =
                    "<option value='0'>TODOS</option>";

                for (var i = 0; i < data.length; i++) {

                    document.getElementById("ddlEstados").innerHTML +=
                        "<option value='" + data[i].EstadoReserva + "'>" + data[i].NombreEstadoReserva +"</option>";
                }
            });
        });
    }

    //Función para btnFiltrar
    function filtrar() {
        $(function () {

            var url = "@Url.Action("LlenarTableRE", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = {
                idClienteP: idCliente, fechaInicioP: fechaInicio, fechaFinalP: fechaFinal, estadoP: estado, nomProductoP: nombreCliente,
                nomCategoriaP: nombreEstado
            };

        $.post(url, data).done(function (data) {

            document.getElementById("tableDatos").innerHTML =
                "<tr>" +
                "<th style='display: none;'>ID</th>" +
                "<th>#</th>" +
                "<th>CLIENTE</th>" +
                "<th>TELÉFONO</th>" +
                "<th>F. RESERVA</th>" +
                "<th>F. PROMESA ENTREGA</th>" +
                "<th>MONTO</th>" +
                "<th>ESTADO</th>" +
                "</tr >";

            for (var i = 0; i < data.length; i++) {

                var dateString = data[i].FechaReserva.toString().substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = day + "-" + month + "-" + year;

                dateString = data[i].FechaPromesaEntrega.toString().substr(6);
                currentTime = new Date(parseInt(dateString));
                month = currentTime.getMonth() + 1;
                day = currentTime.getDate();
                year = currentTime.getFullYear();
                var datePE = day + "-" + month + "-" + year;

                document.getElementById("tableDatos").innerHTML +=
                "<tr>" +
                "<th style='display: none;'>" + data[i].IdEncabezadoReserva +"</th>" +
                "<td>" + (i + 1).toString() + "</td>" +
                "<td>" + data[i].NombreCliente + " " + data[i].ApellidoCliente + "</td>" +
                "<td>" + data[i].TelefonoCliente + "</td>" +
                "<td>" + date + "</td>" +
                "<td>" + datePE + "</td>" +
                "<td>$" + data[i].MontoEncabezadoReserva.toFixed(2) + "</td>" +
                "<td>" + data[i].EstadoReserva + "</td>" +
                "</tr >";
            }

            //Habilitamos el botón si la data es mayor a 0
            if (data.length > 0) {
                $("#btnImprimir").removeClass('disabled');
            }

            });
        });
    }

    //Función para btnLimpiar
    function limpiar() {
        $(function () {

            document.getElementById("ddlClientes").innerHTML =
                "<option value='0'>TODOS</option>";
            idCliente = "0";
            $("#dtpFechaInicio").val(null);
            $("#dtpFechaFinal").val(null);
            document.getElementById("ddlEstados").innerHTML =
                "<option value='0'>TODOS</option>";
            estado = "";

            $("#btnImprimir").addClass('disabled');

            document.getElementById("tableDatos").innerHTML =
                "<tr>" +
                "<th style='display: none;'>ID</th>" +
                "<th>#</th>" +
                "<th>CLIENTE</th>" +
                "<th>TELÉFONO</th>" +
                "<th>F. RESERVA</th>" +
                "<th>F. PROMESA ENTREGA</th>" +
                "<th>MONTO</th>" +
                "<th>ESTADO</th>" +
                "</tr >";
        });
    }

    //Función para btnImprimir
    function imprimir() {
        //Invocamos la URL para imprimir el reporte
        window.location.href = "/Menu/ImprimirRVEsp";
    }
</script>

<div class="text-center">
    <h2><b>Reporte de Reservas</b></h2>
</div>

<div class="col-lg-12">
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha inicio</label>
    <input class="form-control" id="dtpFechaInicio" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha final</label>
    <input class="form-control" id="dtpFechaFinal" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-6">
    <label>Estado</label>
    <select id="ddlEstados" class="form-control" onchange="getValddlEst(this);">
        <option value="0">TODOS</option>
    </select>
    <br />
</div>

<div class="col-lg-6">
    <label>Cliente</label>
    <select id="ddlClientes" class="form-control" onchange="getValddlCli(this);">
        <option value="0">TODOS</option>
    </select>
    <br />
</div>

<div class="col-lg-12">
    <div class="col-lg-1">
        <input class="btn-success btn" id="btnFiltrar" onclick="filtrar();" type="button" value="Filtrar" />
    </div>
    <div class="col-lg-1">
        <input class="btn-danger btn" id="btnLimpiar" onclick="limpiar();" type="button" value="Limpiar" />
    </div>
    <div class="col-lg-1">
        <div onclick="imprimir();" class="btn-primary btn media-right disabled" id="btnImprimir">
            <span class="glyphicon glyphicon-print">

            </span>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <br />
</div>

<table class="table table-bordered" id="tableDatos">
    <tr>
        <th style='display: none;'>ID</th>
        <th>#</th>
        <th>CLIENTE</th>
        <th>TELÉFONO</th>
        <th>F. RESERVA</th>
        <th>F. PROMESA ENTREGA</th>
        <th>MONTO</th>
        <th>ESTADO</th>
    </tr>
</table>