
@{
    ViewBag.Title = "Ventas Especificadas";
}

<script type="text/javascript"
        src="~/Scripts/jquery-3.4.1.min.js">
</script>

<script>
    //Variables para guardar los datos de idCategoria e idProducto
    var idCategoria = "0";
    var nombreCategoria = "TODAS";
    var idProducto = "0";
    var nombreProducto = "TODOS";

    //Función para llenar ddlProductos
    function llenarDDLProductos() {
        $(function () {

            var url = "@Url.Action("LlenarDDLProductosV", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = { fechaInicioP: fechaInicio, fechaFinalP: fechaFinal, idCategoriaP: idCategoria };
            idProducto = "0";

            $.post(url, data).done(function (data) {

                document.getElementById("ddlProductos").innerHTML =
                    "<option value='0'>TODOS</option>";

                for (var i = 0; i < data.length; i++) {

                    document.getElementById("ddlProductos").innerHTML +=
                        "<option value='" + data[i].IdProducto + "'>" + data[i].NombreProducto +"</option>";
                }

                if (data.length > 0) {
                    $("#ddlProductos").removeAttr('disabled');
                } else if (data.length <= 0) {
                    $("#ddlProductos").attr('disabled', 'disabled');
                }
            });
        });
    }

    //Función para cuando cambie ddlCategorias
    function getValddlCat(sel) {
        $(function () {

            idCategoria = sel.value;
            nombreCategoria = sel.options[sel.selectedIndex].text;

            $("#btnImprimir").addClass('disabled');

            llenarDDLProductos();
        });
    }

    //Función para cuando cambie ddlProductos
    function getValddlProd(sel) {
        idProducto = sel.value;
        nombreProducto = sel.options[sel.selectedIndex].text;
        $("#btnImprimir").addClass('disabled');
    }

    //Función para cuando cambie Fecha Inicio o Fecha Final
    function cambioFecha() {
        $(function () {
            $("#btnImprimir").addClass('disabled');

            var url = "@Url.Action("LlenarDDLCategoriasV", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = { fechaInicioP: fechaInicio, fechaFinalP: fechaFinal };

            $.post(url, data).done(function (data) {

                document.getElementById("ddlCategorias").innerHTML =
                    "<option value='0'>TODAS</option>";

                for (var i = 0; i < data.length; i++) {

                    document.getElementById("ddlCategorias").innerHTML +=
                        "<option value='" + data[i].IdCategoria + "'>" + data[i].Categoria +"</option>";
                }
            });
        });
    }

    //Función para btnFiltrar
    function filtrar() {
        $(function () {

            var url = "@Url.Action("LlenarTableVE", "Menu")";
            var fechaInicio = $("#dtpFechaInicio").val();
            var fechaFinal = $("#dtpFechaFinal").val();
            var data = {
                idProductoP: idProducto, fechaInicioP: fechaInicio, fechaFinalP: fechaFinal, idCategoriaP: idCategoria, nomProductoP: nombreProducto,
                nomCategoriaP: nombreCategoria
            };

        $.post(url, data).done(function (data) {
            
            if (parseInt(idCategoria) > 0) {

                document.getElementById("tableDatos").innerHTML =
                    "<tr>" +
                    "<th>#</th>" +
                    "<th>PRODUCTO</th>" +
                    "<th>CANTIDAD</th>" +
                    "<th>PRECIO</th>" +
                    "<th>MONTO</th>" +
                    "<th style='display: none;'>CATEGORÍA</th>" +
                    "<th>FECHA VENTA</th>" +
                    "</tr >";

                for (var i = 0; i < data.length; i++) {

                    var dateString = data[i].FechaFacturacion.toString().substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month = currentTime.getMonth() + 1;
                    var day = currentTime.getDate();
                    var year = currentTime.getFullYear();
                    var date = day + "-" + month + "-" + year;

                    document.getElementById("tableDatos").innerHTML +=
                        "<tr>" +
                        "<td>" + (i + 1).toString() + "</td>" +
                        "<td>" + data[i].NombreProducto + "</td>" +
                        "<td>" + data[i].Cantidad + "</td>" +
                        "<td>$" + data[i].Precio.toFixed(2) + "</td>" +
                        "<td>$" + data[i].MontoDetalleFacturacion.toFixed(2) + "</td>" +
                        "<td style='display: none;'>" + data[i].Categoria + "</td>" +
                        "<td>" + date + "</th>" +
                        "</tr >";
                }
            } else if (parseInt(idCategoria) <= 0) {
                document.getElementById("tableDatos").innerHTML =
                    "<tr>" +
                    "<th>#</th>" +
                    "<th>PRODUCTO</th>" +
                    "<th>CANTIDAD</th>" +
                    "<th>PRECIO</th>" +
                    "<th>MONTO</th>" +
                    "<th>CATEGORÍA</th>" +
                    "<th>FECHA VENTA</th>" +
                    "</tr >";

                for (var i = 0; i < data.length; i++) {

                    var dateString = data[i].FechaFacturacion.toString().substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month = currentTime.getMonth() + 1;
                    var day = currentTime.getDate();
                    var year = currentTime.getFullYear();
                    var date = day + "-" + month + "-" + year;

                    document.getElementById("tableDatos").innerHTML +=
                    "<tr>" +
                    "<td>" + (i + 1).toString() + "</td>" +
                    "<td>" + data[i].NombreProducto + "</td>" +
                    "<td>" + data[i].Cantidad + "</td>" +
                    "<td>$" + data[i].Precio.toFixed(2) + "</td>" +
                    "<td>$" + data[i].MontoDetalleFacturacion.toFixed(2) + "</td>" +
                    "<td>" + data[i].Categoria + "</td>" +
                    "<td>" + date + "</th>" +
                    "</tr >";
                }
            }

            //Habilitamos el botón si la data es mayor a 0
            if (data.length > 0) {
                $("#btnImprimir").removeClass('disabled');
            }

            });
        });
    }

    //Función para btnLimpiar
    function limpiar() {
        $(function () {

            document.getElementById("ddlProductos").innerHTML =
                "<option value='0'>TODOS</option>";
            $("#ddlProductos").attr('disabled', 'disabled');
            $("#dtpFechaInicio").val(null);
            $("#dtpFechaFinal").val(null);
            document.getElementById("ddlCategorias").innerHTML =
                "<option value='0'>TODAS</option>";

            $("#btnImprimir").addClass('disabled');

            document.getElementById("tableDatos").innerHTML =
                "<tr>" +
                "<th>#</th>" +
                "<th>PRODUCTO</th>" +
                "<th>CANTIDAD</th>" +
                "<th>PRECIO</th>" +
                "<th>MONTO</th>" +
                "<th>CATEGORÍA</th>" +
                "<th>FECHA VENTA</th>" +
                "</tr >";
        });
    }

    //Función para btnImprimir
    function imprimir() {
        //Invocamos la URL para imprimir el reporte
        window.location.href = "/Menu/ImprimirRVEsp";
    }
</script>

<div class="text-center">
    <h2><b>Reporte de Ventas Especificado</b></h2>
</div>

<div class="col-lg-12">
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha inicio</label>
    <input class="form-control" id="dtpFechaInicio" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-6">
    <label>Fecha final</label>
    <input class="form-control" id="dtpFechaFinal" onchange="cambioFecha();" type="date" />
    <br />
</div>

<div class="col-lg-6">
    <label>Categoria</label>
    <select id="ddlCategorias" class="form-control" onchange="getValddlCat(this);">
        <option value="0">TODAS</option>
    </select>
    <br />
</div>

<div class="col-lg-6">
    <label>Producto</label>
    <select id="ddlProductos" class="form-control" disabled="disabled" onchange="getValddlProd(this);">
        <option value="0">TODOS</option>
    </select>
    <br />
</div>

<div class="col-lg-12">
    <div class="col-lg-1">
        <input class="btn-success btn" id="btnFiltrar" onclick="filtrar();" type="button" value="Filtrar" />
    </div>
    <div class="col-lg-1">
        <input class="btn-danger btn" id="btnLimpiar" onclick="limpiar();" type="button" value="Limpiar" />
    </div>
    <div class="col-lg-1">
        <div onclick="imprimir();" class="btn-primary btn media-right disabled" id="btnImprimir">
            <span class="glyphicon glyphicon-print">

            </span>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <br />
</div>

<table class="table table-bordered" id="tableDatos">
    <tr>
        <th>#</th>
        <th>PRODUCTO</th>
        <th>CANTIDAD</th>
        <th>PRECIO</th>
        <th>MONTO</th>
        <th>CATEGORÍA</th>
        <th>FECHA VENTA</th>
    </tr>
</table>
