
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login/_LayoutPageLogin.cshtml";
}

<!-- form section start -->
<section class="w3l-hotair-form">
    <h1>Reportería StockIt</h1>
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>Log In</h2>
                    <form action="Verify" method="post">
                        <input type="text" class="text" name="text" placeholder="Usuario" required="" autofocus>
                        <input type="password" class="password" name="password" placeholder="Contraseña" required="" autofocus>
                        <button class="btn" type="submit">Log In</button>
                    </form>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="~/images/1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>
    <!-- copyright-->
    <div class="copyright text-center">
        <p class="copy-footer-29">
            © 2021 Reportería StockIt
        </p>
    </div>
    <!-- //copyright-->
</section>
<!-- //form section start -->
